#main{
	background-color: #00fff0;
	color: black;
	font-family: "Times New Roman";
}

header,footer{
height:150px;

}

#email .table{
	display: table;
	width: auto;
	background-color: white;
	border: 2px solid;
	border-spacing: 5px;
}

#email .row{
	display: table-row;
	width: auto;
	clear:both;
}
#email .col{
	float:left;
	display: table-column;
	width: auto;
}

